---
import { Icon } from "astro-icon/components";

const {
  logo,
  dates,
  role,
  company,
  description,
  descriptionBullets,
  techStack,
} = Astro.props;

export const techNameMapping: { [key: string]: string } = {
  react: "React",
  nextjs: "Next.js",
  redux: "Redux",
  node: "Node",
  sql: "SQL",
  reactnative: "React Native",
  awslambda: "AWS Lambda",
  mongodb: "MongoDB",
  express: "Express",
  firebase: "Firebase",
  tailwindcss: "Tailwind CSS",
  shadcn: "Shadcn UI",
  tanstackquery: "Tanstack Query",
  typescript: "TypeScript",
  html: "HTML",
  css: "CSS",
  javascript: "JavaScript",
  framermotion: "Framer Motion",
  mui: "Material UI",
};
---

<div class="relative flex flex-col justify-start pl-12">
  <div
    class="absolute top-0 left-0 z-40 flex items-center justify-center -translate-x-1/2 bg-white border rounded-full dark:bg-neutral-950 w-14 h-14 border-neutral-300 dark:border-neutral-700"
  >
    <img src={logo} alt={company} class="w-8 h-8 rounded-full" />
  </div>

  <p
    class="text-xs uppercase text-neutral-400 dark:text-neutral-500 trackign-widest"
  >
    {dates}
  </p>
  <h3 class="my-1 text-lg font-bold dark:text-neutral-100">{role}</h3>
  <p class="mb-1 text-sm font-medium dark:text-neutral-300">{company}</p>

  <p class="mb-1 text-sm font-medium dark:text-neutral-300">Tech Stack:</p>
  <div class="flex items-center gap-2 flex-wrap">
    {
      techStack &&
        techStack.map((tech: string) => {
          return (
            <div class="flex flex-col justify-between items-center py-1">
              <Icon name={tech} color={"blue"} size={25} />
              <p class="text-sm font-light text-neutral-600 dark:text-neutral-400">
                {techNameMapping[tech]}
              </p>
            </div>
          );
        })
    }
  </div>
  {
    descriptionBullets &&
      descriptionBullets.map((point: string) => {
        return (
          <p class="text-sm font-light text-neutral-600 dark:text-neutral-400 py-1">
            • {point}
          </p>
        );
      })
  }
  <!-- <p class="text-sm font-light text-neutral-600 dark:text-neutral-400">
    {description}
  </p> -->
</div>
